Synapse_Analytics/pipeline/pl_count_to_five.json
{
	"name": "pl_count_to_five",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.num",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"ifFalseActivities": [
									{
										"name": "ODD",
										"type": "Filter",
										"dependsOn": [],
										"userProperties": []
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "ODD",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									}
								],
								"ifTrueActivities": [
									{
										"name": "EVEN",
										"type": "Filter",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"items": {
												"value": "@variables('i')",
												"type": "Expression"
											},
											"condition": {
												"value": "@equals(mod(variables('i'), 2), 0)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "EVEN",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": []
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"num": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			}
		},
		"variables": {
			"i": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}